#track_time_range {
  width: 70%;
}

#log-out {
  float: right;
}

#notice {
  margin: 0px;
}

output {
  position: absolute;
  background: #444444;
  width: 90px;
  height: 30px;
  text-align: center;
  color: white;
  border-radius: 10px;
  display: inline-block;
  font: bold 15px/30px Georgia;
  bottom: 100%;
  left: 0;
  margin-left: -1%;
}
/*output:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #999999;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}*/

form { 
  position: relative;
  margin-top: 50px;
  align-self: center;
}
